body {
}

.heading {
    color: dodgerblue;
    margin-top: 30px;
    margin-left: 188px;
    width: 200px;
    height: 28px;
    font: normal normal bold 22px/19px Roboto;
}

.addUser {
    background-color: dodgerblue;
    text-align: center;
    color: #FFFFFF;
    margin-left: 188px;
    
    width: 120px;
    height: 40px;
    font: normal normal normal 20px/15px Roboto;
}

.table1 {
    margin-left: 12px;
}
